* {
  font-family: "Montserrat", sans-serif;
}

body {
  transition: 0.4s ease all;
}
body.dark {
  background: #212121;
}

.productos {
  display: flex;
  height: auto;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  flex-direction: column;
}
.productos h1 {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
}

#separador {
  margin-top: 8px;
  color: #000000;
  height: 1px;
  width: 100%;
  background-color: #000000;
}
body.dark #separador {
  background-color: aliceblue;
}

.size {
  height: auto;
}

main h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
}
body.dark main h1 {
  color: aliceblue;
}

.button {
  border-radius: 0.5rem;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  background-color: #f1f1f1;
  overflow: hidden;
}
.button:hover {
  background: rgb(255, 255, 255);
}
.button:active {
  border: 1px solid #c9c4c4;
}
body.dark .button {
  background-color: aliceblue;
}

.button,
.button__icon,
.button__text {
  bottom: 7px;
  position: absolute;
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(22px);
  color: #000000;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #dad8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
}
body.dark .button .button__icon {
  background-color: rgb(151, 166, 179);
}

body.dark .btn-close {
  color: aliceblue !important;
}

.button .svg {
  position: absolute;
  bottom: 8px;
  width: 20px;
  fill: #fff;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #ebe8e8;
}

.filter-container {
  display: flex;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 20px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.filter-button {
  width: 210px;
  height: 50px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.filter-button:hover {
  border: 1px solid #212121;
}
.filter-button:active {
  border: 1px solid white;
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}
body.dark .filter-button {
  border: 1px solid #212121;
  background: #212121;
  color: aliceblue;
  box-shadow: 10px 10px 25px rgb(25, 25, 25), -10px -10px 25px rgb(60, 60, 60);
}
body.dark .filter-button:active {
  border: 1px solid #f7f9fa;
  box-shadow: 4px 4px 12px #212121, -4px -4px 12px #212121;
}
body.dark .filter-button:hover {
  border: 1px solid #f4c21c;
}

#boton {
  font-weight: 600;
}

.theme-checkbox {
  --toggle-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #e0e0e0)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #e0e0e0 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #e0e0e0 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #e0e0e0)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #e0e0e0 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #e0e0e0 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

.card-container {
  margin-top: 30px;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 80px;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.card {
  height: auto;
  width: 450px;
  padding: 28px;
  background-color: white;
}

.card-hero h2 {
  font-size: 25px;
}

.card-content {
  position: relative;
  margin-top: 38px;
  flex-direction: column;
  height: 400px;
  width: 230px;
  padding: 20px;
  display: flex;
  background: #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
body.dark .card-content {
  border-radius: 30px;
  background: #212121;
  box-shadow: 10px 10px 25px rgb(25, 25, 25), -10px -10px 25px rgb(60, 60, 60);
}
body.dark .card-content h2,
body.dark .card-content p {
  color: aliceblue;
}
.card-content img {
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
  object-fit: cover;
  height: auto;
  margin-bottom: 20px;
}
.card-content p,
.card-content h2 {
  text-align: start;
  margin-top: 10px;
}
body.dark .card-content p,
body.dark .card-content h2 {
  color: aliceblue;
}

.card-body a {
  margin-top: 30px;
  text-decoration: none;
  color: #000000;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  transition: 0.3s;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.card-body a:focus,
.card-body a:hover {
  color: #000000;
}

.card-body a:focus:after,
.card-body a:hover:after {
  width: 100%;
  left: 0%;
}

.card-body a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.hidden {
  display: none !important;
}

body.dark .text-body-secondary {
  color: aliceblue !important;
}

#offcanvasNavbar {
  --bs-offcanvas-width: 700px;
}
body.dark #offcanvasNavbar {
  --bs-offcanvas-border-color:rgb(255 255 255 / 18%);
}

.offcanvas-header {
  height: 50px;
}

.offcanvas-body {
  background-color: rgba(255, 255, 255, 0.137254902);
}

#cartPrice {
  font-size: 20px;
}

nav div a img {
  object-fit: cover;
  width: 100px;
  height: 70px;
  transition: 0.3s;
}
nav div a img:hover {
  transform: scale(1.1, 1.1);
}

body.dark .btn-close {
  filter: var(--bs-btn-close-white-filter);
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%)!important;
}

nav div a {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: 0.2s;
}
nav div a:hover {
  color: rgb(165, 145, 30);
  text-decoration: solid;
}
body.dark nav div a {
  color: aliceblue;
}
body.dark nav div a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 5px 5px 20px #bebebe, -5px -5px 20px #ffffff;
}

.offcanvas-title {
  color: black;
}
body.dark .offcanvas-title {
  color: aliceblue;
}

.navbar {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.29);
}

.navcolor {
  padding: 20px;
}
body.dark .navcolor {
  background-color: #212121;
}

.bg-custom {
  background-color: rgb(252, 217, 64);
}
body.dark .bg-custom {
  background-color: #333333;
}

body.dark .navbar-toggler {
  border: aliceblue solid 1px;
}
body.dark .navbar-toggler:hover {
  box-shadow: 2px 2px 15px #bebebe, -2px -2px 15px #ffffff;
}
.navbar-toggler:focus:not(:focus-visible) {
  outline: 0px;
}

.bi-cart {
  height: 22px;
  width: 22px;
}
body.dark .bi-cart {
  color: aliceblue;
}

.bi-trash3-fill {
  color: red;
  width: 30px;
  height: 30px;
}
.bi-trash3-fill:hover {
  color: rgb(138, 27, 27);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  transition: 0.4s ease all;
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}
body.dark .logos {
  background: #212121;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
body.dark .logos:before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(33, 33, 33, 0));
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
body.dark .logos:after {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(33, 33, 33, 0));
}

.logos-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
}

.logos-slide img {
  object-fit: contain;
  height: 70px;
  margin: 0 40px;
}

.dolar {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

#usd {
  color: rgb(0, 0, 0);
  font-size: 30px;
  padding-top: 5px;
}

#cotizacion {
  border: 2px solid black;
  display: flex;
  width: 700px;
  height: 80%;
  flex-direction: row;
  background-color: rgb(51, 99, 51);
  align-items: center;
  justify-content: center;
}
#cotizacion p {
  font-size: 23px;
  color: rgb(253, 253, 253);
  display: flex;
}
#cotizacion span {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
body.dark #cotizacion {
  border: 2px solid aliceblue;
}

.dolarblue {
  justify-content: center;
  font-size: 30px;
  padding: 30PX;
}

.container-dolar {
  margin-top: 70px;
  justify-content: center;
  width: 95%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
}

#hero {
  width: 100%;
}
#hero img {
  width: 100%;
}

.colorcust {
  border: 2px solid black;
  display: flex;
  width: 700px;
  height: 80%;
  flex-direction: row;
  align-items: baseline;
  background-color: rgb(219, 179, 104);
}
.colorcust p {
  margin: auto;
  padding: 8px;
  color: rgb(0, 0, 0);
  display: flex;
  font-weight: 600;
}
body.dark .colorcust {
  border: 2px solid aliceblue;
}

.card-index {
  position: relative;
  max-width: 300px;
  height: 450px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.05);
  border: 10px solid transparent;
}
body.dark .card-index {
  background-color: rgb(252, 252, 252);
  border: 3px solid aliceblue;
}

.card-index a {
  text-decoration: none;
}

.content-index {
  padding: 1.1rem;
}

.image-index {
  object-fit: cover;
  width: 100%;
  height: 170px;
  background-color: rgb(250, 199, 103);
}
.image-index img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.title-index {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 45px;
}

.desc-index {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 13px;
  line-height: 1.25rem;
}
body.dark .desc-index {
  color: black;
}

.action-index {
  position: absolute;
  bottom: 13px;
  display: inline-flex;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #4d79d8;
  padding: 4px 8px;
  border-radius: 4px;
}

.action-index span {
  transition: 0.3s ease;
}

.action-index:hover span {
  transform: translateX(4px);
}

#mothers {
  margin-top: 50px;
}

@media only screen and (min-width: 300px) and (max-width: 920px) {
  .container-dolar {
    flex-direction: column;
    gap: 20px;
  }
  .colorcust {
    width: 95%;
  }
  #cotizacion {
    width: 95%;
  }
  #cotizacion span {
    flex-direction: column;
  }
  #hero img {
    height: 270px;
    object-fit: scale-down;
  }
}
/* CARRITO */
.cart-container {
  border-radius: 30px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 80px;
  height: 200px;
  justify-content: space-around;
  padding: 28px;
  background: #e0e0e0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart-container img {
  object-fit: cover;
  width: 210PX;
  height: 150px;
  border-radius: 30px;
}
body.dark .cart-container {
  height: 200px;
  width: 100%;
  border-radius: 30px;
  background: #212121;
  box-shadow: 10px 10px 25px rgb(25, 25, 25), -10px -10px 25px rgb(60, 60, 60);
}
body.dark .cart-container h2, body.dark .cart-container p {
  color: aliceblue;
}
.cart-container button {
  border-radius: 15px;
  background-color: aliceblue;
}

#root {
  height: 100%;
}
#root div h2 {
  font-size: 22px;
}

.store-header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.toggle-bar {
  align-items: flex-end;
  gap: 25px;
  padding: 20px;
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgba(207, 207, 207, 0.2470588235);
  margin-top: 90px;
}

.text-darkmode {
  margin-top: 10px;
  color: black;
}
body.dark .text-darkmode {
  color: aliceblue;
}

@media only screen and (min-width: 300px) and (max-width: 920px) {
  .cart-container {
    gap: 0px;
    height: 150px;
    padding: 0px;
  }
  .cart-container img {
    width: 210PX;
    height: 140px;
    margin-left: 3px;
  }
  .card-body {
    margin-left: 5px;
  }
  .card-body h2 {
    font-size: 20px;
  }
  .filter-button {
    width: 90%;
  }
  .filter-container {
    justify-content: normal;
  }
  .toggle-bar {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
