.dolar {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}


#usd {
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 5px;
}

#cotizacion {
    border: 2px solid black;
    display: flex;
    width: 700px;
    height: 80%;
    flex-direction: row;
    background-color: rgb(51, 99, 51);
    align-items: center;
    justify-content: center;

    p {
        font-size: 23px;
        color: rgb(253, 253, 253);
        display: flex;
    }

    span {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        font-size: 24px;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }

}


.dolarblue {
    justify-content: center;
    font-size: 30px;
    padding: 30PX;
}

.container-dolar {
    margin-top: 70px;
    justify-content: center;
    width: 95%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}

#hero {
    width: 100%;
    padding-top: 42px;

    img {
        width: 100%;
    }
}


.colorcust {
    border: 2px solid black;
    display: flex;
    width: 700px;
    height: 80%;
    flex-direction: row;
    align-items: baseline;
    background-color: rgb(219, 179, 104);

    p {
        margin: auto;
        padding: 8px;
        color: rgb(0, 0, 0);
        display: flex;
        font-weight: 600;
    }
}


#mothers {
    margin-top: 50px;
}

@media only screen and (min-width: 300px) and (max-width: 920px) {
    .container-dolar {
        flex-direction: column;
        gap: 20px;
    }

    .colorcust {
        width: auto;

    }

    #cotizacion {
        width: auto;

        span {
            flex-direction: column;
        }
    }

    #hero {
        img {
            height: 250px;
        }
    }
}