@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    transition: .4s ease all;
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    body.dark & {
        background: #212121;
      }
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);

    body.dark & {
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #21212100);
      }

  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    
    body.dark & {
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #21212100);
      }
  }
  
  
  .logos-slide {
    display: inline-block;
    animation: 25s slide infinite linear;
  }
  
  .logos-slide img {
    object-fit: contain;
    height: 70px;
    margin: 0 40px;
  }